*, *:after, *:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    /* height: 550px;
    width: 100vw; */
    z-index: 1;
    overflow: hidden;
    position: absolute;
    margin: auto;  
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.chick{
    position: absolute;
    height: 300px;
    width: 80px;
    /* margin: 30px; */
    left: 400px;
    right: 0;
    top: 260px;
    border: 1px solid transparent;
}

.body{
    position: absolute;
    height: 150px;
    width: 65px;
    background-color: #ffec02;
    border-radius: 80px 80px 80px 30px;
    /* border-radius: 50%; */
    top: -2px;
    animation: body-walk 0.8s infinite;
}

@keyframes body-walk{
    50%{
        top: 7px;
    }
}
.body:before{
    content: "";
    position: absolute;
    height: 100px;
    width: 170px;
    background-color: #ffec02;
    top: 115px;
    right: -12px;
    border-radius: 180px 0px 160px 0px;
    transform: rotate(-20deg);
}